@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200;300;400;500;600;700;800&family=Patua+One&display=swap');
/*
font-family: 'Anek Malayalam', sans-serif;
font-family: 'Patua One', cursive;
*/

*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
  list-style: none;

}

:root {
  --primary: rgb(168, 7, 87);
  --secondary: white;
  --secondary-light: gray;
  --dark1: black;
  --dark-blue: hsl(198, 62%, 26%);
  --very-dark-grayish-blue: hsl(232, 10%, 55%);
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0;
}

/********** MENU **********/
span {
  color: hsl(198, 62%, 26%);
}

a {
  color: white;
}

nav {
  background: rgb(168, 7, 87);
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 11;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav button {
  display: inlinw-block;
  background: transparent;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
}

nav button#close-menu-btn {
  display: none;
}

.nav_menu {
  position: fixed;
  top: 5rem;
  right: 5%;
  width: 18rem;
  flex-direction: column;
  gap: 0;
  display: none;
}

.nav_menu li {
  width: 100%;
  height: 5.8rem;
}

.nav_menu li a {
  background: rgb(168, 7, 87);
  box-shadow: -4rem 6rem 10rem black;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.nav_menu li a:hover {
  background: hsl(198, 62%, 26%);
  color: white;
}

.nav_menu a {
  font-size: 0.9rem;
  transition: all 400ms ease;
}

.nav_menu a:hover {
  color: hsl(198, 62%, 26%);
}

/********** INICIO **********/
#inicio {
  margin-top: 80px;
}

.background-inicio {
  background-image: url("./img/fondo-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.inicio-texto {
  font-family: 'Anek Malayalam', sans-serif;
}

.inicio-titulo {
  font-family: 'Patua One', cursive;
  font-size: 2.7rem;
}

.btn-pink {
  display: block;
  width: fit-content;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 8px 12px;
  border-radius: 6px;
}

.btn-pink:hover {
  background-color: rgb(188, 57, 123);
  color: var(--secondary);
}

.btn-contacto {
  padding: 8px 12px;
  border-radius: 6px;
  margin: auto;
  margin-top: 20px;
}

.btn-masinfo {
  display: inline;
  background-color: transparent;
  color: var(--primary);
}

/********** PROYECTOS **********/
.card-body h5,
.card-title {
  margin-bottom: 0;
}

.card-text {
  margin-bottom: 0.27rem;
}

.card-body a {
  color: var(--primary) !important;
}

.card-body a:hover {
  color: var(--dark-blue) !important;
}

/********** Modal **********/
.proy-desc {
  display: flex;
  align-items: center;
}

.proy-desc .card-text {
  text-align: justify;
  font-size: 0.775rem;
  margin: 12px 5px 0;
}

/*POR QUE ELERGIRNOS?*/
.porque-items {
  text-align: center;
  columns: 3 300px;
}

.porque_title {
  justify-content: center;
  text-align: center;
  letter-spacing: 2px;
}

.porque_container {
  padding: 60px 0;
  display: grid;
  gap: 6rem;
}

.porque_img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.porque_parrafo {
  color: var(--dark-blue);
  line-height: 1.5;
  margin: 1.5rem;
  font-size: 12px;
}

.porque_nombre {
  color: black;
  font-family: var(--font1);
  margin-bottom: .7rem;
  font-size: 22px;
}

/********** GLOBALES **********/
.section-padding {
  padding: 5% 3%;
}

.background-claro {
  background-color: var(--secondary);
  color: var(--dark1);
}

.background-oscuro {
  background-color: var(--dark1);
  color: var(--secondary);
}

.background-pink {
  background-color: var(--primary);
  color: var(--secondary);
}

.titulo {
  font-family: 'Patua One', cursive;
  font-size: 1.6rem;
  color: var(--very-dark-grayish-blue);
  letter-spacing: 2px;
  text-transform: uppercase;
}

/********** EQUIPO **********/
.equipo {
  font-family: 'Anek Malayalam', sans-serif;
}

.equipo .titulo {
  color: var(--secondary);
}

.img-fluid {
  border-radius: 10px;
  -webkit-box-shadow: -4px 5px 8px -3px rgb(168 7 87 / 67%);
  -moz-box-shadow: -4px 5px 8px -3px rgb(168 7 87 / 67%);
  box-shadow: -4px 5px 8px -3px rgb(168 7 87 / 67%);
}

.miembro:first-child {
  margin-bottom: 42px;
}

.miembro-nombre {
  margin-bottom: 0;
}

.miembro-descripcion {
  margin: 12px 0;
}

.miembro span a {
  font-size: 1.3rem;
  margin-right: 8px;
}

.miembro span a:hover {
  font-size: 1.5rem;
  color: var(--primary);
}

/*comentarios*/
.testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.testimonios_header {
  margin: 50px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonios_contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonios_caja {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.perfil-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.perfil-img img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.perfil {
  display: flex;
  align-items: center;

}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.3rem;
}

.name-user span {
  color: #979797;
  font-size: 1.1rem;
}

.resenas {
  color: #f9d71c;

}

.caja-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comentarios_clientes p {
  color: #4b4b4b;
  font-size: 15PX
}

/********** FOOTER **********/
.footer-padding {
  padding: 6% 5%;
}

.footer-text {
  font-size: 0.8em;
  font-weight: 300;
}

.footer-text span {
  font-weight: 500;
  color: var(--secondary);
}

.footer-text span:hover {
  color: var(--secondary-light);
}

@media only screen and (min-width: 600px) {
  .footer-padding {
    padding: 3% 5%;
  }

  .footer-text {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .inicio-titulo {
    font-size: 3.2rem;
  }

  .titulo {
    font-size: 1.825rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer-padding {
    padding: 2% 5%;
  }

  .titulo {
    font-size: 2rem;
  }

  .proy-desc .card-text {
    font-size: 1rem;
    margin: 0;
  }

  nav button#close-menu-btn {
    display: none;
  }

  nav button#open-menu-btn {
    display: none;
  }

  nav {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 11;
  }

  .nav_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav button {
    display: none;
  }

  .nav_menu {
    flex-direction: inherit;
    position: inherit;
    display: flex;
    align-items: center;
    gap: 4rem;
    margin-right: 105px;
  }

  .nav_menu a {
    font-size: 0.9rem;
    transition: all 400ms ease;
  }

  .nav_menu a:hover {
    color: rgb(168, 7, 87);
  }

  .nav_menu li a {
    box-shadow: -4rem 6rem 10rem black;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
  }

  /* POR QUÉ ELEGIRNOS?*/
  .porque {
    margin: 100px;
  }
}