@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@200;300;400;500;600;700;800&family=Patua+One&display=swap');
/*
font-family: 'Anek Malayalam', sans-serif;
font-family: 'Patua One', cursive;
*/

*,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary: rgb(168, 7, 87);
  --secondary: white;
  --secondary-light: gray;
  --dark1: black;
  --dark2: black;
  --dark-blue: hsl(198, 62%, 26%);
  --very-dark-grayish-blue: hsl(232, 10%, 55%);
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar ul {
  display: flex;

}

.navbar a {
  font-size: 1.5rem;
  padding: 10px;
  text-decoration: none;
  color: white;
  margin: 20px;
}

.contenedor-nav {
  background-color: var(--dark2);
  position: relative;
}

.contenedor-nav img {
  width: 100%;
  height: 530px;
  opacity: 0.35;
}

/********** INICIO **********/
.background-inicio {
  background-image: url("./img/fondo-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.inicio-texto {
  font-family: 'Anek Malayalam', sans-serif;
}

.inicio-titulo {
  font-family: 'Patua One', cursive;
  font-size: 2.7rem;
}

.btn-contacto {
  display: block;
  width: fit-content;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 8px 12px;
  border-radius: 6px;
  margin: auto;
  margin-top: 20px;
}

/*POR QUE ELERGIRNOS?*/

.porque {
  background: white;
  text-align: center;
  columns: 3 300px;
  margin: 100px;

}

.porque_title {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--very-dark-grayish-blue);
  font-family: var (--font1);

}

.porque_container {
  padding: 60px 0;
  display: grid;
  gap: 6rem;
}

.porque_img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.porque_parrafo {
  color: var(--dark-blue);
  line-height: 1.5;
  margin: 1.5rem;
  font-size: 12px;
}

.porque_nombre {
  color: black;
  font-family: var(--font1);
  margin-bottom: .7rem;
  font-size: 22px;
}

/********** GLOBALES **********/
.section-padding {
  padding: 5% 3%;
}

.background-claro {
  background-color: var(--secondary);
  color: var(--dark1);
}

.background-oscuro {
  background-color: var(--dark1);
  color: var(--secondary);
}

.background-pink {
  background-color: var(--primary);
  color: var(--secondary);
}

/********** EQUIPO **********/
.equipo {
  font-family: 'Anek Malayalam', sans-serif;
}

.equipo-texto h1 {
  font-family: 'Patua One', cursive;
}

.img-fluid {
  border-radius: 10px;
  -webkit-box-shadow: -4px 5px 8px -3px rgb(168 7 87 / 67%);
  -moz-box-shadow: -4px 5px 8px -3px rgb(168 7 87 / 67%);
  box-shadow: -4px 5px 8px -3px rgb(168 7 87 / 67%);
}

.miembro:first-child {
  margin-bottom: 42px;
}

.miembro-nombre {
  margin-bottom: 0;
}

.miembro-descripcion {
  margin: 12px 0;
}

.miembro span a {
  font-size: 1.3rem;
  margin-right: 8px;
}

.miembro span a:hover {
  font-size: 1.5rem;
  color: var(--primary);
}

/*comentarios*/
.testimonios {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

.testimonios_header {
  margin: 50px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonios_contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonios_caja {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.perfil-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}

.perfil-img img {
  width: 100%;
  height: 100%;
  object-fit: center;
}

.perfil {
  display: flex;
  align-items: center;

}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user strong {
  color: #3d3d3d;
  font-size: 1.3rem;
}

.name-user span {
  color: #979797;
  font-size: 1.1rem;
}

.resenas {
  color: #f9d71c;

}

.caja-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comentarios_clientes p {
  color: #4b4b4b;
  font-size: 15PX
}

/********** FOOTER **********/
.footer-padding {
  padding: 6% 5%;
}

.footer-text {
  font-size: 0.8em;
  font-weight: 300;
}

.footer-text span {
  font-weight: 500;
}

.footer-text span:hover {
  color: var(--secondary-light);
}

@media only screen and (min-width: 600px) {
  .footer-padding {
    padding: 3% 5%;
  }

  .footer-text {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  .inicio-titulo {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 992px) {
  .footer-padding {
    padding: 2% 5%;
  }
}